<div class="containter">

</div>

<div class="jumbotron">
    <div ng-show="tableView">
        <h3>LIST OF TASKS</h3>


        <table class="table table-hover table-bordered table-striped">

            <thead>
                <tr class="alert-warning">
                    <th st-sort="id" style="display:none;">Id</th>
                    <th align="center" st-sort="id3"></th>
                    <th align="center" st-sort="AssigneeID">Assignee Id</th>
                    <th align="center" st-sort="TaskID">Task ID</th>
                    <th align="center" st-sort="Title">Title</th>
                    <th align="center" st-sort="Description">Description</th>
                    <th align="center" st-sort="Reporter">Reporter</th>
                    <th align="center" st-sort="Comments">Comments</th>
                    <th align="center" st-sort="Duration">Duration</th>
                    <th align="center">Action</th>


                </tr>
            </thead>
            <tbody>
                <tr ng-repeat="theOrder in ordersForAUser track by $index">

                    <td><a href="#" class="active" style="display:none;" required>{{theOrder.id}}</a></td>
                    <td>{{theOrder.userId}}</td>
                    <td>{{theOrder.trackingID}}</td>
                    <td>{{theOrder.name}}</td>

                    <td>{{theOrder.streetAddress}}</td>

                    <td>{{theOrder.city}}</td>
                    <td>{{theOrder.state}}</td>

                    <td>{{theOrder.zipCode}}</td>

                    <!--<td><button class="btn btn-success" ng-click="editOrder(theOrder)">Edit Order</button></td>-->
                    <!--<td><a class="btn btn-default" ng-click="editOrder(theOrder)">
                        <i class="fa fa-cog"></i> Edit
                    </a></td>-->
                    <!--<td><button class="btn btn-danger" ng-click="delete(theOrder)">Delete Orders</button></td>-->
                    <!--<td><a class="btn btn-danger" ng-click="delete(theOrder)">
                        <i class="fa fa-trash-o fa-lg"></i> Delete
                    </a></td>-->

                    <td>
                        <button class="btn btn-default btn-sm btn-primary" ng-click="editOrder(theOrder)">
                            <span class="glyphicon glyphicon-edit"></span>  Edit
                        </button>
                        <span style="display:none;">..........</span>
                        <!--</td>
                        <td>-->

                        <button type="button" class="btn btn-default btn-sm btn-danger" ng-click="delete(theOrder)">
                            <span class="glyphicon glyphicon-trash"></span> Delete
                        </button>
                    </td>
                </tr>
            </tbody>

        </table>

    </div>

    <div ng-show="editform">
        <h2>Edit Task</h2>

        <hr />

        <div class="control-group">
            <!-- Username -->
            <label class="control-label" for="username">Assignee</label>
            <div class="controls">
                <input class="form-control" type="text" ng-model="editor.assignee" required>
            </div>
        </div>
        <div class="control-group">
            <!-- Username -->
            <label class="control-label" for="username">Comment</label>
            <div class="controls">
                <input class="form-control" type="text" ng-model="editor.comment" required>
            </div>
        </div>

        <div class="control-group">
            <!-- Username -->
            <label class="control-label" for="username">Duration</label>
            <div class="controls">
                <input class="form-control" type="text" id="username" ng-model="editor.duration" required>
            </div>
        </div>

        <div class="control-group">
            <!-- Username -->
            <label class="control-label" for="username">Sub Task</label>
            <div class="controls">
                <input class="form-control" type="text" placeholder="Only for Stories" ng-model="editor.subtask" required>
            </div>
            <br />

            <div class="control-group">
                <!-- Button -->
                <div class="controls">
                    <input type="submit" ng-click="save(editor.assignee,editor.comment,editor.duration,editor.subtask)" value="Save Edited" class="btn btn-success" />
                </div>
            </div>


            <!-- <div>User Name <input ng-model="editor.name"></div>
             <div>Street address <input ng-model="editor.streetAddress"></div>
             <div>City<input ng-model="editor.city"></div>
             <div>State<input ng-model="editor.state"></div>
             <div>ZipCode<input ng-model="editor.zipCode"></div>
             <div> <button ng-click="save()">Save</button> <button ng-click="cancel()">Cancel</button> </div>
                -->
        </div>
    </div>
</div>